<!-- Navigation -->
<treo-vertical-navigation class="theme-dark" [appearance]="navigationAppearance"
    [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="data.navigation.default"
    [opened]="!isScreenSmall">

    <div treoVerticalNavigationContentHeader>
        <div class="logo">
            <img src="assets/images/logo/sd-logo.svg">
        </div>
    </div>

</treo-vertical-navigation>

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <div class="header" style="position: sticky !important; top: 0;">

        <p class="font-bold">Shield Expo Inc.</p>

        <!-- Navigation toggle button -->
        <!-- <button class="navigation-toggle-button"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'menu'"></mat-icon>
        </button> -->

        <!-- Navigation appearance toggle button -->
        <!-- <button class="navigation-appearance-toggle-button"
                [ngClass]="{mirror: navigationAppearance === 'dense'}"
                mat-icon-button
                (click)="toggleNavigationAppearance()">
            <mat-icon [svgIcon]="'menu_open'"></mat-icon>
        </button> -->

        <!-- Spacer -->
        <div class="spacer">
        </div>

        <div class="centeredDiv">
            <p class="font-semibold">SmartDocs <span style="color: #008cff">One</span></p>
        </div>


        <!-- Search -->
        <search [appearance]="'bar'"></search>

        <!-- Shortcuts -->
        <!-- <shortcuts [shortcuts]="data.shortcuts"></shortcuts> -->

        <!-- Messages -->
        <!-- <messages [messages]="data.messages"></messages> -->

        <!-- Notifications -->
        <notifications [notifications]="data.notifications"></notifications>

        <!-- User -->
        <user [user]="data.user"></user>

    </div>

    <!-- Content -->
    <div class="content">
        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-3 mainContainer overflow-y-auto overflow-x-hidden" style="max-height: calc(100vh - 64px);">
                <!-- *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
             it won't register the changes on the layout and won't update the view. -->
                <router-outlet *ngIf="true"></router-outlet>
            </div>
            <div class="sideBarContainer p-5" style="max-height: calc(100vh - 64px);">
                <img class="botImage" src="/assets/images/logo/bot.svg" alt="bot.svg">
                <p class="mt-10">Lets look into the Dashboard where you can see Overview of the invoices.</p>
                <p class="mt-5"><span class="font-bold">340 New Invoices</span> are <u>In Process</u>. Would you like to
                    go through this item?</p>
                <div class="flex justify-evenly items-center mt-10">
                    <div class="yesButton cursor-pointer p-2">
                        Yes ofcourse
                    </div>
                    <div class="noButton cursor-pointer px-10 py-2">
                        No
                    </div>
                </div>
                <div class="absolute bottom-0 left-0 right-0">
                    <mat-form-field style="width: 95% !important; padding-left: 1rem;">
                        <input matInput>
                        <mat-icon class="cursor-pointer" style="color: #088FFB" matSuffix [svgIcon]="'send'"></mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <!-- <div class="footer">
        SmartDocs Inc. &copy; {{currentYear}}
    </div> -->

</div>