<div class="content-layout fullwidth-basic-normal-scroll">
    <div class="flex flex-row my-2 mx-2 pt-2 px-2 pb-0 w-full glassMorphismBackground">
        <div>
            <mat-icon class="cursor-pointer" [svgIcon]="'feather:arrow-left'" routerLink="/example"></mat-icon>
        </div>
        <div class="flex-1" [ngClass]="{'tabSelected': clickIndex.id_one}" (click)="onSelect(1)">
            <div class="customNavigation text-center">
                <p class="mt-5">Active Exceptions</p>
                <h3 class="mt-1">37</h3>
            </div>
        </div>
        <div class="flex-1" [ngClass]="{'tabSelected': clickIndex.id_two}" (click)="onSelect(2)">
            <div class="customNavigation text-center">
                <p class="mt-5">Finished</p>
                <h3 class="mt-1">5</h3>
            </div>
        </div>
        <div class="flex-1" [ngClass]="{'tabSelected': clickIndex.id_three}" (click)="onSelect(3)">
            <div class="customNavigation text-center">
                <p class="mt-5">Progress Done</p>
                <h3 class="mt-1">4/20</h3>
            </div>
        </div>
        <div class="flex-1">
            <!-- <div class="text-center">
                        <p>Active Exceptions</p>
                        <h3>3/25</h3>
                    </div> -->
        </div>
        <div class="flex-1">
            <div class="text-center">
                <h3 class="mt-5 mb-1 text-yellow-300">32 min</h3>
                <p>Time Spent</p>
            </div>
        </div>
        <div class="flex-1">
            <div class="text-center">
                <h3 class="mt-5 mb-1 text-green">$75.12K/ <span class="text-sm">$1.5M</span></h3>
                <p>Exceptions amount</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row my-2 mx-2">
        <div class="flex flex-wrap w-full">
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Vendor 1 Company Corp
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex flex-col">
                            <div class="font-light">
                                Invoice# &nbsp; <span class="font-bold">8528-A</span>
                            </div>
                            <div class="font-light">
                                PO# &nbsp; <span class="font-bold">4401578965</span>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6 text-center">
                            <div class="font-bold text-2xl">$1407.00</div>
                            <div>
                                <mat-icon style="color: #64b9ff;" svgIcon="heroicons_solid:cash"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-light">
                            <mat-icon class="mt-2" style="color: #ffae00;" svgIcon="feather:alert-triangle"></mat-icon>&nbsp;
                            <span class="relative bottom-1">Price Variance</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <span>Recommended Action: <span class="bg-blue p-1 rounded-full text-white cursor-pointer">Return to vendor</span></span>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 theme-light bg-transparent">
                <div
                    class="flex flex-col justify-center items-center text-center flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <span class="text-xl text-gray-500"><b class="text-3xl">+29</b><br> More Invoices</span>
                </div>
            </div>
        </div>
    </div>
</div>