.tabSelected {
    border-bottom: 3px #088ffb solid;

    div {

        h3 {
            color: #088ffb;
        }
    
        p {
            color: #088ffb;
        }

    }
}

.glassMorphismBackground {
    background: #FFFFFF;
    opacity: 0.85;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}