<div class="content-layout fullwidth-basic-normal-scroll">
    <div class="flex flex-col flex-auto w-full p-2 xs:p-2">
        <div class="flex flex-wrap w-full">
            <!-- Purchases -->
            <div class="flex flex-auto w-1/3 p-4 pb-6 theme-light bg-transparent cursor-pointer" [routerLink]="['/example/details']">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">New Invoices</div>
                        </div>
                        <div class="">
                            <div class="p-2 shadow-md rounded-full flex justify-center items-center">
                                <mat-icon class="text-blue" [svgIcon]="'feather:sun'"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-3">
                        <div class="flex flex-col">
                            <div class="font-semibold text-5xl leading-tight">340</div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6">
                            <div class="font-light text md">Invoices are in process with 6 different vendors</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 pb-6 theme-light bg-transparent cursor-pointer" [routerLink]="['/example/details']">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Exceptions</div>
                        </div>
                        <div class="">
                            <div class="p-2 shadow-md rounded-full flex justify-center items-center">
                                <mat-icon class="text-yellow" [svgIcon]="'feather:alert-circle'"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-3">
                        <div class="flex flex-col">
                            <div class="font-semibold text-5xl leading-tight">124</div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6">
                            <div class="font-light text md">Invoices are in exceptions with 3 different vendors</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 pb-6 theme-light bg-transparent cursor-pointer" [routerLink]="['/example/details']">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Ready To Post</div>
                        </div>
                        <div class="">
                            <div class="p-2 shadow-md rounded-full flex justify-center items-center">
                                <mat-icon class="text-green" [svgIcon]="'feather:check-circle'"></mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center mt-3">
                        <div class="flex flex-col">
                            <div class="font-semibold text-5xl leading-tight">158</div>
                        </div>
                        <div class="flex flex-col flex-auto ml-6">
                            <div class="font-light text md">Invoices are ready to post, So notify your vendor about the
                                status</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 pb-6 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">Invoices</div>
                        </div>
                    </div>
                    <div class="flex items-center mt-3" *ngIf="isChartsLoaded">
                        <apx-chart class="flex-auto w-full h-full" [chart]="barChart.chart" [series]="barChart.series"
                            [xaxis]="barChart.xaxis"></apx-chart>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 pb-6 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">PO Invoices</div>
                        </div>
                    </div>
                    <div class="flex items-center mt-3" *ngIf="isChartsLoaded">
                        <apx-chart class="flex-auto w-full h-full" [chart]="pieChart1.chart" [series]="pieChart1.series"
                            [labels]="pieChart1.labels" [dataLabels]="pieChart1.dataLabels" [colors]="pieChart1.colors"></apx-chart>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto w-1/3 p-4 pb-6 theme-light bg-transparent">
                <div
                    class="flex flex-col flex-auto p-3 bg-card shadow-md rounded overflow-hidden glassMorphismBackground">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="font-bold text-md text-secondary uppercase tracking-wider">NPO Invoices</div>
                        </div>
                    </div>
                    <div class="flex items-center mt-3" *ngIf="isChartsLoaded">
                        <apx-chart class="flex-auto w-full h-full" [chart]="pieChart1.chart" [series]="pieChart2.series"
                            [labels]="pieChart2.labels" [dataLabels]="pieChart2.dataLabels" [colors]="pieChart2.colors"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unique visitors -->
    <!-- <div class="flex flex-auto w-1/3 min-w-80 h-50 p-4">
        <div class="flex flex-col flex-auto p-6 pb-4 bg-card shadow-md rounded overflow-hidden">
            <div class="flex items-center justify-between">
                <div class="flex flex-col">
                    <div class="font-bold text-md text-secondary uppercase tracking-wider">Unique Visitors</div>
                    <div class="text-sm text-hint font-medium">Number of unique visitors</div>
                </div>
                <div class="-mr-2">
                    <button class="h-8 min-h-8 px-2" mat-button [matMenuTriggerFor]="uniqueVisitorsMenu">
                        <span class="font-medium text-sm text-hint">30 days</span>
                    </button>
                    <mat-menu #uniqueVisitorsMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex items-center h-20 mt-auto">
                <div class="flex flex-col">
                    <div class="font-semibold text-5xl tracking-tighter leading-tight">{{data.uniqueVisitors.amount |
                        number:'1.0-0'}}</div>
                    <div class="flex items-center">
                        <mat-icon class="mr-1 text-red" [svgIcon]="'trending_down'"></mat-icon>
                        <div class="font-medium text-sm text-secondary leading-none whitespace-no-wrap">
                            <span class="text-red">2%</span>
                            less purchase
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-full ml-6">
                    <apx-chart class="flex-auto w-full h-full" [chart]="uniqueVisitorsOptions.chart"
                        [colors]="uniqueVisitorsOptions.colors" [series]="uniqueVisitorsOptions.series"
                        [stroke]="uniqueVisitorsOptions.stroke" [tooltip]="uniqueVisitorsOptions.tooltip"
                        [xaxis]="uniqueVisitorsOptions.xaxis" [yaxis]="uniqueVisitorsOptions.yaxis"></apx-chart>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Total visits -->
    <!-- <div class="flex flex-auto w-1/3 min-w-80 h-50 p-4">
        <div class="flex flex-col flex-auto p-6 pb-4 bg-card shadow-md rounded overflow-hidden">
            <div class="flex items-center justify-between">
                <div class="flex flex-col">
                    <div class="font-bold text-md text-secondary uppercase tracking-wider">Total Visits</div>
                    <div class="text-sm text-hint font-medium">Number of total visits from all visitors</div>
                </div>
                <div class="-mr-2">
                    <button class="h-8 min-h-8 px-2" mat-button [matMenuTriggerFor]="totalVisitsMenu">
                        <span class="font-medium text-sm text-hint">30 days</span>
                    </button>
                    <mat-menu #totalVisitsMenu="matMenu">
                        <button mat-menu-item>30 days</button>
                        <button mat-menu-item>3 months</button>
                        <button mat-menu-item>9 months</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex items-center h-20 mt-auto">
                <div class="flex flex-col">
                    <div class="font-semibold text-5xl tracking-tighter leading-tight">{{data.totalVisits.amount |
                        number:'1.0-0'}}</div>
                    <div class="flex items-center">
                        <mat-icon class="mr-1 text-red" [svgIcon]="'trending_down'"></mat-icon>
                        <div class="font-medium text-sm text-secondary leading-none whitespace-no-wrap">
                            <span class="text-red">2%</span>
                            less purchase
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-full ml-6">
                    <apx-chart class="flex-auto w-full h-full" [chart]="totalVisitsOptions.chart"
                        [colors]="totalVisitsOptions.colors" [series]="totalVisitsOptions.series"
                        [stroke]="totalVisitsOptions.stroke" [tooltip]="totalVisitsOptions.tooltip"
                        [xaxis]="totalVisitsOptions.xaxis" [yaxis]="totalVisitsOptions.yaxis"></apx-chart>
                </div>
            </div>
        </div>
    </div> -->

</div>